<div class="m-3">
    <div class="d-flex flex-row justify-content-between align-items-center">

        <img src="/assets/logos/uv_bunny_logo.png">
        <button type="button" class="btn btn-primary" routerLink="/configs">Configurations</button>
    </div>

    <div class="space"></div>

    <h2>Add new Bunny</h2>
    <form #bunnyform="ngForm" (ngSubmit)="onSubmit(bunnyform)">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="nameInput" class="col-form-label">Bunny Name</label>
            </div>
            <div class="col-auto">
                <input type="text" required class="form-control" id="nameInput" name="name" ngModel>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" [disabled]="!bunnyform.valid">Add</button>
            </div>
        </div>
    </form>

    <div class="space"></div>

    <h2>My bunnies</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                <th scope="col" sortable="happiness" (sort)="onSort($event)">Happiness</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bunnylist;  let i = index" >
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle">{{item.data.name}}</td>
                <td class="align-middle"><span class="d-flex flex-row align-items-center"><span class="me-3">{{item.data.happiness}}</span> <mat-icon class="align-middle">{{item.smiley}}</mat-icon></span></td>
                <td>
                    <button class="btn btn-outline-primary p-1 m-2" data-bs-toggle="tooltip" data-bs-placement="left" title="Details"
                    routerLink="/details" [queryParams]="{ id: item.id}"><mat-icon class="align-middle">cruelty_free</mat-icon></button>
                    <button class="btn btn-outline-primary p-1 m-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete" (click)="deleteBunny(item)"><mat-icon class="align-middle">delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="space"></div>

</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div *ngIf="show" id="toast" role="alert" aria-live="assertive" aria-atomic="true" class="outline">
    <div class="toast-header">
      <strong class="me-auto">Delete</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="toast-body">
      The bunny was removed.
    </div>
  </div>
</div>
