<img src="/assets/logos/uv_bunny_logo.png">

<h1>My bunnies</h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Happiness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

<button type="button" class="btn btn-primary" routerLink="/details">Add bunny</button>

<button type="button" class="btn btn-primary" routerLink="/configs">Configurations</button>