<img src="/assets/logos/uv_bunny_logo.png">

<h1>Configurations</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Activity</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lettuce</td>
        <td><button type="button" class="btn btn-secondary">-</button>1<button type="button" class="btn btn-secondary">+</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Carrot</td>
        <td><button type="button" class="btn btn-secondary">-</button>1<button type="button" class="btn btn-secondary">+</button></td>
      </tr>
    </tbody>
  </table>