<img src="/assets/logos/uv_bunny_logo.png">

<h1>Bunny Details</h1>

<div>
    <div>
        Bunny Name
    </div>
    <div>
        5 Happiness Points
    </div>
</div>

<div class="container">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light">Feed Lettuce</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Feed Carrot</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Play</div>
      </div>

    </div>
  </div>